.registerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background: linear-gradient(135deg, #e0eafc, #cfdef3);
}

.titleRegisterEcommerce {
  font-size: 3rem;
}