.navContainerPrincipal {
  background-color: #1e3a8a;
}
.navContainer {
  color: white;
}

.navContainer a {
  color: white;
}

.navContainer:hover {
  color: #ccc;
}

.addProductContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: #ccc 2px solid;
  border-radius: 0.4rem;
  padding: 0.4rem;
  gap: 2px;
  transition: all 0.2s ease;
}

.addProductContainer:hover {
  cursor: pointer;
  background-color: #4576fd;
  color: black;
  translate: 0.1rem 0.1rem;
}
