.loginContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(135deg, #e0eafc, #cfdef3);
}
.titleLoginEcommerce {
  font-size: 3rem;
}
