.containerPrincipalHeaderDescuento {
  width: 100vw;
  height: 40px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.containerTitulo{
  width: 60%;
  display: flex;
  justify-content: flex-end;
  margin-left: 1vw;

}
.textDescuento {
  color: white;
  font-size: 1rem;
}

.containerLogin {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 2vh;
  gap: 0.5vh;
  transition: 0.2s ease;
}

.containerLogin:hover {
  cursor: pointer;
  color: #ccc;
}

@media screen and (max-width: 650px) {
  .containerPrincipalHeaderDescuento{
    justify-content: center;
    font-size: 10px;
  }
}