.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
}
.overlay.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0s 0s;
}
.popupCart {
  width: 25vw;
  height: 100%;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}
.popupCart.show {
  transform: translateX(0%);
}

.popupContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  color: black;
}

.usuarioContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  padding: 20px;
  color: black;
  gap: 2vh;
}

.userItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2vw;
}
.userHeader {
  display: flex;
  flex-direction: row;
}
.userHeader h3 {
  font-family: "Orbitron", sans-serif;
}
.userItem h6 {
  font-weight: 700;
  font-family: "Orbitron", sans-serif;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  justify-content: center;
  margin-top: 10px;
}
.cerrarSesion {
  background-color: #718096;
  border: none;
  color: white;
  transition: background-color 0.3s ease;
  font-family: "Orbitron", sans-serif;
}
.cerrarSesion:hover {
  background-color: #4a5568;
}
.editarDatos {
  background-color: #38b2ac;
  border: none;
  color: white;
  transition: background-color 0.3s ease;
  font-family: "Orbitron", sans-serif;
}

.editarDatos:hover {
  background-color: #319795;
}
.navbarBoton {
  top: 3vw;
  right: 1.5vw;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
}

.navbarBoton:hover {
  background-color: #dedede;
  transition: 0.5s;
}
