.formContainerPrincipal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2vw;
}
.formCol1 {

  display: flex;
  flex-direction: column;
  width: 40%;
}

.formCol2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}
