.containerPrincipalFormRegister {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 50px;
  padding-top: 30px;
  background-color: #FFF;
  gap: 2rem;
}

.containerForm {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  height: auto;
  width: 40%;
  font-size: small;
}

.containerElementsForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
.containerElementsForm label {
  font-weight: 600;
  color: #333;
}
.inputFormRegister {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  font-size: small;
}
.inputFormRegister:focus {
  border-color: #007bff;
  outline: none;
}

.buttonRegistrarme {
  background-color: black;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: center;
  width: 100%;
}

.buttonRegistrarme:hover {
  background-color: #007bff;
}
.register{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.register h5{
  margin: 0;
  padding: 0;
  line-height: 1;
}
.register button{
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  font-size: 20px;
  color: rgb(111, 111, 253);
}