.containerNavBarCatalogo {
  width: 100vw;
  height: 15vh;
  background-color: #ebebeb;
  position: relative;
}

.titleNavBarCatalogo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1vh;
  cursor: pointer;
}

.containerCategoriesNavBarCatalogo {
  display: flex;
  justify-content: space-between;
  width: 25vw;
  position: absolute;
  top: 10vh;
  left: 1vw;
}

.categorieNavBarCatalogo {
  transition: font-size 0.2s ease;
  font-size: 1em;
}

.categorieNavBarCatalogo:hover {
  cursor: pointer;
  font-size: 1.1em;
}

.iconShoppinCartCatalogo {
  position: absolute;
  top: 3vw;
  right: 1.5vw;
}

.barraBusquedaCatalogo {
  position: absolute;
  right: 6vw;
  top: 3.5vw;
  border-radius: 0.8rem;
  border: none;
  padding: 1vh;
  width: 20vw;
  padding-left: 2rem;
}

.searchIconCalogo {
  position: absolute;
  top: 4vw;
  right: 6.5vw;
}

.menuSearchBarCatalogo {
  position: absolute;
  top: 4.2vw;
  right: 24vw;
  z-index: 10;
}
.iconShoppinCartCatalogo {
  position: absolute;
  top: 3vw;
  right: 1.5vw;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #ebebeb;
}
.iconShoppinCartCatalogo:hover{
  background-color: #dedede;
  transition: 0.5s;
}