.adminHomeDesplegable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.containerPrincipal {
  display: flex;
  height: 100;
  flex-direction: row;
  background-color: #ebebeb;
  width: 100%;
  

  /* MIRAR ESTO */
  overflow-x: hidden;
}

.divHeader{
  width: 82vw;
}

button {
  background-color: #f0f0f0;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 11rem;
  display: flex;
  align-items: flex-start;
}
button:hover {
  background-color: #d4d4d4;
}

.div2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
  background-color: #ebebeb;
  width: 100%;
  height: 70vh;
  border-radius: 15px;
  margin: 7px;
}
