.principalContainerColumFilter {
  width: 25vw;
  height: 86.3vh;
  background-color: #ebebeb;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.containerDesplegables {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin-left: 5vw;
  padding-top: 1vw;
}

.desplegableFilter {
  width: 15vw;
  border-radius: 0.8rem;
  border: none;
  padding: 0.75rem 2rem 0.75rem 1rem;
  transition: background-color 0.5s ease;
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg fill="%23000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>')
    no-repeat right 1rem center;
  background-size: 1rem;
  border: 1px solid black;
  background-color: white;
}

.desplegableFilter:focus {
  outline: 2px solid #007bff;
  outline-offset: 2px;
}
.desplegableFilter:hover {
  background-color: #d9d9d9;
  color: #333;
}

.containerRangos {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 2rem 0.75rem 1rem;
  margin-left: 4vw;
}

.containerRangos input{
  width: 15vw;
  border-radius: 0.8rem;
  border: none;
}
