.containerPrincipalFormLogin {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  background-color: #fff;
  gap: 2rem;
}

.titleLoginEcommerce {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
}

.containerForm {
  width: 100%;
  max-width: 500px;
  background-color: #fafafa;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  font-size: small;
}

.containerElementsForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: small;
}

.containerElementsForm label {
  font-weight: 600;
  color: #333;
}

.inputFormLogin {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
  transition: border-color 0.3s ease;
  background-color: #fff;
}

.inputFormLogin:focus {
  border-color: #5cd1cb;
  box-shadow: 6px 0 16px rgba(92, 209, 203, 0.2);

  outline: none;
}

.buttonEntrar {
  background-color: #38b2ac;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  font-family: "Orbitron", sans-serif;
}

.buttonEntrar:hover {
  background-color: #5cd1cb;
  transform: scale(1.01);
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.login {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.login h5 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.login button {
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  font-size: 0.95rem;
  color: #38b2ac;
  text-decoration: underline;
  font-family: "Orbitron", sans-serif;
}

@media (max-width: 600px) {
  .containerForm {
    padding: 1.5rem;
    box-shadow: none;
  }
}
